@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #fafafa;
  --background: #010101;
  --primary: #f81c0d;
  --secondary: #fafafa;
  --accent: #f3123b;
}

body {
  background-color: #010101;
  color: #fafafa;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hero-bg-video {
}
