@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #fafafa;
  --background: #010101;
  --primary: #f81c0d;
  --secondary: #fafafa;
  --accent: #f3123b;
}

body {
  background-color: #010101;
  color: #fafafa;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hero-bg-video {
  /* background-image: url("../assets//gif/red-grid-ezgif.com-optimize.gif"); */
  background-repeat: no-repeat;
  background-size: cover;
}

.half-colored-red {
  background: linear-gradient(to bottom, #ef4444 50%, transparent 80%);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .half-colored-red {
    background: transparent;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .half-colored-red {
    background: transparent;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .half-colored-red {
    background: linear-gradient(to bottom, #ef4444 50%, transparent 80%);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .half-colored-red {
    background: linear-gradient(to bottom, #ef4444 50%, transparent 80%);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .half-colored-red {
    background: linear-gradient(to bottom, #ef4444 50%, transparent 80%);
  }
}
