@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #fafafa;
  --background: #010101;
  --primary: #f81c0d;
  --secondary: #fafafa;
  --accent: #f3123b;
}

body {
  background-color: #010101;
  color: #fafafa;
  cursor: none;
}

a {
  cursor: none;
}

button {
  cursor: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.bg-wave-svg-down {
  background-image: url("../assets//svg//wave-down.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-wave-svg-up {
  background-image: url("../assets//svg//wave-up.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-bg-video {
  /* background-image: url("../assets//gif/red-grid-ezgif.com-optimize.gif"); */
  background-repeat: no-repeat;
  background-size: cover;
}

.half-colored-red {
  background: linear-gradient(to bottom, #ef4444 50%, transparent 80%);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .half-colored-red {
    background: transparent;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .half-colored-red {
    background: transparent;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .half-colored-red {
    background: linear-gradient(to bottom, #ef4444 50%, transparent 80%);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .half-colored-red {
    background: linear-gradient(to bottom, #ef4444 50%, transparent 80%);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .half-colored-red {
    background: linear-gradient(to bottom, #ef4444 50%, transparent 80%);
  }
}

/* --------------------------- 
 NAVBAR-SCC
 --------------------------- */
nav {
  background-color: #0f0f0f;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 50px;
}
nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
}
nav a:hover {
  color: #ef4444;
}
nav li:first-child {
  margin-right: auto;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  max-width: 250px;
  color: #010101;
  background-color: #ef4444;
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 9999;
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}
.menu-button {
  display: none;
}
@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}
@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}
/* --------------------------- 
 NAVBAR-SCC
 --------------------------- */
/* --------------------------- 
 CUSTOM-CURSOR-SCC
 --------------------------- */

.custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999999 !important;
  mix-blend-mode: difference;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ef4444;
}

/* --------------------------- 
 CUSTOM-CURSOR-SCC
 --------------------------- */
/* --------------------------- 
 Animation Hero-SCC
 --------------------------- */
.header {
  position: relative;
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.header__background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(60deg, #010101, #0f0f0f, #010101);
  overflow: hidden;
  /* transform: skewY(3deg) translateY(-80px); */
  z-index: -1;
}
.header__background:after {
  content: "";
  background: url("https://www.transparenttextures.com/patterns/dark-mosaic.png");
  width: 800%;
  position: absolute;
  top: -400%;
  right: -400%;
  height: 800%;
  opacity: 1;
  animation-name: rotate;
  animation-duration: 140s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@-moz-keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@-o-keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

/* --------------------------- 
 Animation Header-SCC
 --------------------------- */
